<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzh.mappers.UsersMapper">
    <select id="getUsers" resultType="com.zzh.entities.UsersEntity" parameterType="java.util.HashMap">
        select * from users where 1 = 1
        <if test = "name != null">
            and name = #{name}

        </if>
    </select>

    <select id="getUser" resultType="com.zzh.entities.UsersEntity">
        select * from users
        where id = #{id}
    </select>

    <insert id="addUser" parameterType="com.zzh.entities.UsersEntity" useGeneratedKeys="true" keyProperty="id">
        insert into users (name) values (#{name})
    </insert>

</mapper>